.row {
  display: flex;
}
.day {
  width: 50px;
  font-weight: bold;
}
.dayHoursBox {
  display: flex;
  align-items: flex-end;
}
.isOpen {
  color: red;
  font-weight: bold;
  font-size: 13px;
  margin-left: 8px;
}