.header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  width: 300px;
  height: auto;
}
.name {
  margin: 10px 10px 0px 10px;
  font-size: 30px;
  font-weight: bold;
}
.claimdiv {
  margin: 24px 0px 0px 0px;
  font-size: 15px;
}
.claimicon {
  display: inline;
  font-size: 15px;
  position: relative;
  bottom: 3px;
  color: #0073bb;
  margin-right: 5px;
}
.unclaimed {
  display: inline;
  font-size: 15px;
  color: #0073bb;
  text-decoration: none;
}
.claimed {
  display: inline;
  font-size: 15px;
  color: #333;
}
.bottomHeader {
  background-color: #f5f5f5;
  margin: 10px 10px 0 10px;
  padding-bottom: 5px;
  font-size: 15px;
  width: 280px;
}
.bullet {
  display: inline;
  color: #666;
  margin-left: 10px;
  margin-right: 10px;
}
.metatags {
  display: inline;
  font-weight: bold;
}
.contact {
  width: 290px;
  border: 1px solid #999;
  background-color: #ffffe6;
  padding: 4px;
}
.grayicon {
  float: left;
  clear: left;
  color: #777;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.addressPhone {
  float: left;
  margin: 4px 0 10px 0;
  line-height: 1.25;
}
.contactLink {
  float: left;
  color: #0073bb;
  text-decoration: none;
  margin: 4px 0 10px 0;
  line-height: 1.25;
}
.clearBoth {
  clear: both;
}